<footer class="border border-top border-warning pt-4" style="background-color: rgba(232, 204, 149, 0.3);">
    <section>
        <div class="row mt-3">
        <div class="col-md-2"></div>
          <div class="col-md-3 mb-4 ">
            <h5 class="text-uppercase fw-bold mb-4">
                World Wide Land
            </h5>
            <p style="text-align:justify;">
                "Welcome to World Wide Land, where your real estate goals become our top priority. Backed by years of local expertise and 
                a team of dedicated professionals, we're your trusted partner in navigating the dynamic world of real estate.
            </p>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-2 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Quick Links
            </h6>
            <p>
              <a href="{% url 'index' %}" class="text-reset">Home</a>
            </p>
            <p>
              <a href="{% url 'aboutus' %}" class="text-reset">About Us</a>
            </p>
            
          </div>
          

          
        </div>
      
    </section>
  
    <div class="row text-center fs-5 pt-4"  style="background-color:rgba(205, 139, 9, 0.7);">
        <p>Copyright &copy; Vidhilika : World Wide Land</p>
    </div>
   

  </footer>