{% extends 'index.html' %}
{% block main %}
<style>
    .outer
    {
        height:78vh;
        width:35vw;
        margin:0px auto;
    }
    .formbox
    {
        width:30vw;
        margin:0px auto;
        padding:30px 27px 20px 20px;
        background-color: rgba(214, 202, 202, 0.75);
        box-shadow: 3px 2px 7px rgb(111, 110, 110);
    }
    .logbtn:hover{
        text-decoration: none;
    }
</style>
<div style="height:17vh; width:100vw;"></div>

<div class="outer mb-5">
    <h1 class="text-center mb-4">Member Registration</h1>
    <div class="formbox">
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            
            <div class="mb-5">
                {{ form.email }}
            </div>

            <div class="mb-5">
                {{ form.username }}
            </div>

            <div class="mb-5">
                {{ form.password }}
            </div>
            
            <center><button class="btn btn-outline-warning mb-2" type="submit">Register</button></center>
            <hr>
            <p class="text-center mt-3">Already a member ?</p>
            <center><a class="btn btn-outline-warning logbtn" href="{% url 'login' %}">Login</a></center>
        </form>
    </div>
       
    
    </div>
    {%include 'footer.html'%}
{% endblock main %} 
